{% extends 'tasks/home.html' %}
{% load statustags %}
{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="page-header">
        <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">

                    <h4 class="font-weight-normal mb-3">Completed<i class="mdi mdi-chart-line mdi-24px float-end"></i>
                    </h4>
                    <h2 class="mb-5">{{ count.completed_tasks }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">

                    <h4 class="font-weight-normal mb-3">In Progress <i
                            class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                    </h4>
                    <h2 class="mb-5">{{ count.in_progress_tasks }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">

                    <h4 class="font-weight-normal mb-3">On Hold<i class="mdi mdi-diamond mdi-24px float-end"></i>
                    </h4>
                    <h2 class="mb-5">{{ count.on_hold_tasks }}</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tasks</h4>
                    <div class="table-responsive">
                        {% if tasks_list %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Assignee</th>
                                    <th> Subject</th>
                                    <th> Status</th>
                                    <th> Priority</th>
                                    <th> Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for task in tasks_list %}
                                    <tr>

                                        <td>
                                            {{ task.assigned_to }}
                                        </td>
                                        <td>{{ task.description }} </td>
                                        <td>
                                            <label class=" badge {{ tasks.status|status_css_class }}">{{ task.status }}</label>
                                        </td>
                                        <td>
                                            <label class=" badge {{ tasks.priority|priority_css_class }}">{{ task.priority }}</label>
                                        </td>
                                        <td class="actions">
                                            <a href="{% url 'tasks:generate_pdf' task.pk %}" class="download"
                                               title="Download" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE2C4;</i></a>
                                            <a href="{% url 'tasks:edit_task' task.pk %}" class="edit" title="Edit"
                                               data-toggle="tooltip"><i
                                                    class="material-icons">&#xE254;</i></a>
                                            <a href="{% url 'tasks:delete_task' task.pk %}" class="delete"
                                               title="Delete" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE872;</i></a>
                                            <a href="{% url 'tasks:view_task' task.pk %}" class="view" title="View"
                                               data-toggle="tooltip"><i
                                                    class="material-icons">&#xE8F4;</i></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <p>No Tasks !!!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Assignees </h4>
                    <div class="table-responsive">
                        {% if assignees_list %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Name</th>
                                    <th> Email</th>
                                    <th> Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for assignee in assignees_list %}
                                    <tr>

                                        <td>
                                            {{ assignee.name }}
                                        </td>
                                        <td>{{ assignee.email }} </td>
                                        <td class="actions">
                                            <a href="{% url 'tasks:edit_assignee' assignee.id %}" class="edit"
                                               title="Edit" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE254;</i></a>
                                            <a href="{% url 'tasks:delete_assignee' assignee.id %}" class="delete"
                                               title="Delete" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE872;</i></a>

                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <p>No Assignees !!!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-dark">Todo List</h4>
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {% load crispy_forms_filters %}
{% load crispy_forms_tags %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-2">Add Task</button>
                </form>

                <div class="table-responsive mt-4">
    {% if todos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Todo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>

                                {{ todo.name }}
                        </td>
                        <td>
                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" formaction="{% url 'tasks:delete_todo' todo.id %}" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tasks available.</p>
    {% endif %}
</div>

            </div>
        </div>
    </div>
</div>

    </div>
{% endblock %}