{% extends 'tasks/home.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ form.instance.pk|yesno:"Edit Task,Create New Task" }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Render form fields, using crispy forms if available -->
        {{ form|crispy }}

        {% if form.instance.image %}
            <div>
                <label>Current Image:</label>
                <img src="{{ form.instance.image.url }}" alt="Task Image" style="max-width: 200px; max-height: 200px;">

              <div>
            <label for="id_image">Upload New Image:</label>
            {{ form.image.as_widget }}
        </div>

            </div>
        {% endif %}



        <button type="submit">Submit</button>
    </form>
{% endblock %}
